<%-include("partials/header")-%>
    <h1>HOME</h1>
    <h3>Publish your thoughts, your way</h3>
    <p>This is a platform where you can put thoughts openly and anonymously about anyone in IIITL.</p>
<% contentObj.forEach(function(A) { %>
    <h1> <%=A.title%> </h1>
    <p> <%=A.body.substring(0,100) +"..."%> <a href="/posts/<%=A.title%>">Read more.</a> </p>
<% }) %>

<%-include("partials/footer")-%>
